<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <span class="header item website-name"><i class="pencil alternate icon"></i><a href="/">
                    ThoughtCanvas
                </a></span>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>

                <div class="right menu">
                <% if(!loggedIn){%>
                    <div class="header item right"><a href="/register">Register</a></div>
                    <div class="header item right"><a href="/login">Login</a></div>
               
                <% } else{%>
                    <div class="header item right"><a href="/logout">Logout</a></div>
                <% } %>
                </div>
            </div>
        </div>
    </body>
</html>