<!DOCTYPE html>
<html>
    <head>
        <title>BlogUpp!!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed stackable inverted menu">
            <div class="ui container">
                <div class="header item"><i class="icon write"></i>BlogUpp</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a>
                <div class="right menu">
                    <% if(!loggedIn){%>
                        <div class="header item"><a href="/register">Register</a></div>
                        <div class="header item"><a href="/login">Login</a></div>
                        <% } else{%>
                            <div class="header item"><a href="/logout">Logout</a></div>
                        <% } %>
                </div> 
            </div>
        </div>
