<!DOCTYPE html>
<html>

<head>
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="icon" href="blog.ico" type="image/icon type">
</head>

<body>
    <div id="notfound">
        <div >
            <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/02/000-404.png" alt="Page not found">
        </div>
        <div>
            The requested page doesn't exist, go <a href="/">Home</a>
        </div>
    </div>
   
    
</body>

</html>