<%- include("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header">Uh-huh</div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="https://openwebsolutions.in/blog/wp-content/uploads/2019/01/mistake-3085712_1920.jpg" />
    </div>
    <div class="item">
      <div class="content"><%=error%></div>
    </div>
  </div>
</div>



<%- include("partials/footer") %>

<script type="text/javascript"> 
var windowObject;
function openDialog(){
    windowObject = window.open("http://www.cnn.com/", "CNN_WindowName", "popup")
} 
</script>