<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">
        Login
    </div>
    <form action="/login" method="POST" class="ui form">
        <div class="field">
            <label>Email</label>
            <input required type="email" name="email" placeholder="enter your email" >    
        </div>
        
        <div class="field">
            <label> Password</label>
            <input type="password"  required name="password" placeholder="enter your password"></textarea>
        </div>
        
        <div class="field">
            <button class="ui button" type="submit">Submit</button>      
        </div>
        <% if (loginFailed) { %>
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Login failed!
                  </div>
                    Please check your credentials
        <% } %>
       
    </form>
</div>

<%- include("partials/footer") %>


<script src="ejs.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  
  <script>
    $('.negative .close')
  .on('click', function() {
    $(this)
      .closest('.negative')
      .fadeOut(500)    ;
  })
;
</script>