<%- include("partials/header") %>
    <div class="ui info message">
      <i class="close icon"></i>
      <div class="header">
        <%= message %>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>
  <script>
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
  </script>
