<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">
        New Blog
    </div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label>Title</label>
            <input required type="text" name="title" placeholder="title">
        </div>
        
        <div class="field">
            <label>URL</label>
            <input id="url" required type="text" name="image" placeholder="image-URL" pattern="http.*.">    
        </div>
        
        <div class="field">
            <label>Blog Content</label>
            <textarea  required name="body" placeholder="blog goes here.."></textarea>
        </div>
        
        <div class="field">
            <button class="ui button" type="submit">Submit</button>      
        </div>
       
    </form>
</div>

<%- include("partials/footer") %>


<script>
const url = document.getElementById("url");
url.addEventListener("input", function (event) {
  if (url.validity.patternMismatch) {
    url.setCustomValidity("Please enter a valid image url");
    url.reportValidity();
  } else {
    url.setCustomValidity("");
  }
});
</script> %>
