<%- include("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header">Unauthorized</div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="https://media.istockphoto.com/photos/rubber-stamp-picture-id545992942?s=612x612" />
    </div>
    <div class="item">
      <div class="content">
        Only the blog author can modify and delete a blog!
      </div>
    </div>
    <div class="item">
      <div class="content">
        Please <a href="/login">login</a> to modify your blogs.
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
