i.icon{
    font-size: 2em;
}
.container.main{
    margin-top: 5em;
}
body{
    margin-top:4em;
}
#delete{
    display:inline;
}
.container.segment{
    margin-top: 10em;
}
.menu{
    margin-bottom: 5em;
}
.description{
    display: 2em;
}
#notfound{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
